body {
  font-family: sans-serif;
  height: 100vh;
}

.collage {
  display: Flex;
  justify-content: center;
  align-content: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-right: 10vw
}

.child {
  width: 25%;
}

header {
  display: flex;
  justify-content: center;
}